!!! 5
html
  head
    title Test
    meta(name="description", content="A cool test")
    meta(name="keywords", content="One, Two")
    //link(rel="icon", href="images/favicon.ico")
    //link(rel="shortcut icon", href="images/favicon.ico")
    link(rel='stylesheet', href='/style/common.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(text="text/javascript")
      var mobile = navigator.appVersion.toLowerCase().search("mobile") > -1;
      var device = (1) ? "mobile" : "desktop";
      
      // stylesheets
      var stylesheet = "/style/" + device + "/style.css";
      if (document.createStyleSheet) {
        document.createStyleSheet(stylesheet);
      } else {
        stylesheet = $("<link>")
          .attr("rel", "stylesheet")
          .attr("type", "text/css")
          .attr("href", stylesheet)
        $("link").last().after(stylesheet)
      }
      
      // javascript
      $.getScript("/" + device + ".js", function () {
        require("app/init");
      });
      
    body!= body
